---
import Container from "../../ui/Container/Container.astro";
import Section from "../../ui/Section/Section.astro";
import Subtitle from "../../ui/Subtitle/Subtitle.astro";
import Title from "../../ui/Title/Title.astro";

import "./OurSocialMedia.css";
---

<Section className="our-social-media">
  <Container>
    <div class="our-social-media__wrapper">
      <div class="our-social-media__text-wrapper">
        <div class="our-social-media__text">
          <Subtitle>Контаки</Subtitle>
          <Title tag="h2">Будьте на зв'язку з нами</Title>
          <p class="our-social-media__description">
            Слідкуйте за нами у соціальних мережах:
          </p>
        </div>
        <div class="our-social-media__links">
          <div class="our-social-media__link-wrapper link-wrapper">
            <p class="link-wrapper__text">Instagram:</p>
            <a class="link-wrapper__link" href="#">Link1</a>
          </div>
          <div class="our-social-media__link-wrapper link-wrapper">
            <p class="link-wrapper__text">Facebook:</p>
            <a class="link-wrapper__link" href="#">Link2</a>
          </div>
          <div class="our-social-media__link-wrapper link-wrapper">
            <p class="link-wrapper__text">YouTube:</p>
            <a class="link-wrapper__link" href="#">Link3</a>
          </div>
        </div>
      </div>
      <div class="our-social-media__content-wrapper content">
        <div class="content__post">post-1</div>
        <div class="content__post">post-2</div>
        <div class="content__post">post-3</div>
        <div class="content__post">post-4</div>
      </div>
    </div>
  </Container>
</Section>
