---
import "./FlexWrapper.css";

type Props = {
  className?: string;
  style?: astroHTML.JSX.CSSProperties | string;
};

const { style, className } = Astro.props;
---

<div class=`flex-wrapper${className ? ' ' + className : ''}` style={style}>
  <slot />
</div>
