---
import "./Subtitle.css";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div class=`subtitle${className ? ' ' + className : ''}`>
  <div class="subtitle__line"></div>
  <p class="subtitle__text">
    <slot />
  </p>
  <div class="subtitle__line"></div>
</div>
