---
import Description from "../../ui/Description/Description.astro";
import Title from "../../ui/Title/Title.astro";

import "./TextWrapper.css";

type TextData = {
  title: string;
  description: string;
};

type Props = {
  textData: TextData;
};

const {
  textData: { title, description },
} = Astro.props;
---

<div class="text-wrapper">
  <Title tag="h3">{title}</Title>
  <Description className="text-wrapper__description">{description}</Description>
</div>
