.our-history {
  background-color: var(--white);

  h2 {
    text-align: center;
  }
}

.our-history__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.our-history__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.our-history__content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.our-history__description {
  font-size: 26px;
  text-align: center;

  @media (max-width: 756px) {
    font-size: 24px;
  }
}
