---
import "./Button.css";

type Props = {
  href: string;
  backgroundColor?: string;
};

const { href, backgroundColor = "transparent" } = Astro.props;
---

<a class="button" href={href} style={{ backgroundColor: backgroundColor }}>
  <span class="top-key" style={{ backgroundColor: backgroundColor }}></span>
  <span class="text">
    <slot />
  </span>
  <span class="bottom-key-1" style={{ backgroundColor: backgroundColor }}
  ></span>
  <span class="bottom-key-2" style={{ backgroundColor: backgroundColor }}
  ></span>
</a>
