.button {
  min-width: 244px;
  border: 2px solid var(--black);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all var(--transition) ease-in-out;
  user-select: none;
}

.button::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: var(--black);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background var(--transition) linear,
    width var(--transition) linear;
}

.button .text {
  padding-left: 2em;
  display: inline-block;
  text-align: left;
  transition: all var(--transition) ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
}

.button .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  transition: width var(--transition) ease-out, left var(--transition) ease-out;
}

.button .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  transition: width var(--transition) ease-out, right var(--transition) ease-out;
}

.button .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  transition: width var(--transition) ease-out, right var(--transition) ease-out;
}

.button:hover {
  color: var(--white);
  background: var(--black) !important;
}

.button:hover::before {
  width: 0.9375rem;
  background: var(--white);
}

.button:hover .text {
  color: var(--white);
  padding-left: 1.5em;
}

.button:hover .top-key {
  left: -2px;
  width: 0px;
}

.button:hover .bottom-key-1,
.button:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
