---
import Image from "astro/components/Image.astro";
import Description from "../../ui/Description/Description.astro";

import "./TextImageSection.css";
import ContentDecoration from "../../ui/ContentDecorations/ContentDecoration.astro";

type Props = {
  isReversed?: boolean;
  description: string;
  image: ImageMetadata;
};

const { isReversed, description, image } = Astro.props;
const wrapperClass = isReversed ? "text-image reversed" : "text-image";
---

<div class=`${wrapperClass}`>
  <div class="text-image__text-wrapper">
    <Description className="text-image__description">{description}</Description>
  </div>
  <ContentDecoration className="text-image__image-wrapper">
    <Image class="text-image__image" src={image} alt="" />
  </ContentDecoration>
</div>
