.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  position: relative;
  top: unset !important;
  left: unset !important;
  bottom: unset !important;
}

.swiper__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}

.swiper__next,
.swiper__prev {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--lightBlue);
  border: 1px solid var(--white);
  transition: var(--transition) all;
}

.swiper__next:hover,
.swiper__prev:hover {
  background-color: var(--white);
  border: 1px solid var(--black);

  svg {
    path {
      stroke: var(--black);
    }
  }
}

.swiper__prev,
.swiper__next {
  svg {
    width: 30px;
    height: auto;

    path {
      stroke: var(--white);
    }
  }
}

.swiper__prev {
  svg {
    rotate: 180deg;
  }
}

.swiper-button-disabled {
  opacity: 0.7;
}

.swiper-button-disabled:hover {
  background-color: var(--lightBlue);
  border: 1px solid var(--white);
  cursor: default;

  svg {
    path {
      stroke: var(--white);
    }
  }
}

.swiper-pagination-bullet {
  background: var(--black);
}

.swiper-pagination-bullet-active {
  scale: 1.1;
  background-color: var(--white);
}
