.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.hamburger--hide {
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 48px;
  width: auto;
  transition: transform var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--black);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray var(--transition) cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
