---
import Layout from "../layouts/Layout.astro";
import Button from "../ui/Button/Button.astro";
import OurSocialMedia from "../module/OurSocialMedia/OurSocialMedia.astro";
import VisitUs from "../module/VisitUs/VisitUs.astro";
import HeroSection from "../module/HeroSection/HeroSection.astro";
import TextSection from "../module/TextSection/TextSection.astro";
import OurActivities from "../module/OurActivities/OurActivities.astro";
import OurSermons from "../module/OurSermons/OurSermons.astro";

type Event = {
  id: number;
  title: string;
  description: string;
  date: Date;
};

const events: Event[] = [
  {
    id: 1,
    title: "Event 1",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda asperiores illum explicabo optio in vitae aliquid officia vel qui distinctio laboriosam aspernatur quam facere, veritatis recusandae fugit ipsam dolorem.",
    date: new Date(),
  },
  {
    id: 2,
    title: "Event 2",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda asperiores illum explicabo optio in vitae aliquid officia vel qui distinctio laboriosam aspernatur quam facere, veritatis recusandae fugit ipsam dolorem.",
    date: new Date(),
  },
  {
    id: 3,
    title: "Event 3",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda asperiores illum explicabo optio in vitae aliquid officia vel qui distinctio laboriosam aspernatur quam facere, veritatis recusandae fugit ipsam dolorem.",
    date: new Date(),
  },
  {
    id: 4,
    title: "Event 4",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda asperiores illum explicabo optio in vitae aliquid officia vel qui distinctio laboriosam aspernatur quam facere, veritatis recusandae fugit ipsam dolorem.",
    date: new Date(),
  },
  {
    id: 5,
    title: "Event 5",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda asperiores illum explicabo optio in vitae aliquid officia vel qui distinctio laboriosam aspernatur quam facere, veritatis recusandae fugit ipsam dolorem.",
    date: new Date(),
  },
];
---

<Layout title="Welcome! | Well Church">
  <HeroSection />
  <TextSection
    backgroundColor="var(--seasalt)"
    subtitle="Про нас"
    title='Церква "Джерело"'
  >
    <p class="text-section__description">
      Ми — Церква зцілених Ісусом Христом сердець. Джерелом нашого відновлення,
      зцілення та спасіння є Господь Ісус Христос! Він Один є наша Надія та наше
      Майбутнє! Наша місія – спасати, навчати, споряджати! Ми розповідаємо про
      силу та велич Господа та Його спасіння! Ми навчаємо розуміти Христа та
      виконувати Його слово в особистому житті! Ми споряджаємо на служіння Богу
      та людям у ділі доброчинства, благовістя та учнівства!
    </p>
    <Button backgroundColor="var(--seasalt);" href="/about-us">
      Дізнайся більше
    </Button>
  </TextSection>
  <OurActivities />
  <OurSermons />
  <VisitUs />
  <OurSocialMedia />
</Layout>
