---
import Layout from "../layouts/Layout.astro";
import Button from "../ui/Button/Button.astro";
import OurSocialMedia from "../module/OurSocialMedia/OurSocialMedia.astro";
import VisitUs from "../module/VisitUs/VisitUs.astro";
import HeroSection from "../module/HeroSection/HeroSection.astro";
import TextSection from "../module/TextSection/TextSection.astro";
import OurActivities from "../module/OurActivities/OurActivities.astro";
import OurSermons from "../module/OurSermons/OurSermons.astro";
import UpcomingEvents from "../module/UpcomingEvents/UpcomingEvents.astro";
import Description from "../ui/Description/Description.astro";
---

<Layout title="Welcome! | Well Church">
  <HeroSection />
  <TextSection
    backgroundColor="var(--seasalt)"
    subtitle="Про нас"
    title='Церква "Джерело"'
  >
    <div class="text-section__text-wrapper">
      <Description className="text-section__description">
        Ми — Церква зцілених Ісусом Христом сердець. Джерелом нашого
        відновлення, зцілення та спасіння є Господь Ісус Христос! Він Один є
        наша Надія та наше Майбутнє!
      </Description>
      <Description className="text-section__description">
        Наша місія – спасати, навчати, споряджати! Ми розповідаємо про силу та
        велич Господа та Його спасіння! Ми навчаємо розуміти Христа та
        виконувати Його слово в особистому житті! Ми споряджаємо на служіння
        Богу та людям у ділі доброчинства, благовістя та учнівства!
      </Description>
    </div>
    <Button backgroundColor="var(--seasalt);" href="/about-us">
      Дізнайся більше
    </Button>
  </TextSection>
  <OurActivities />
  <UpcomingEvents />
  <OurSermons />
  <VisitUs />
  <OurSocialMedia />
</Layout>
