.hover-cards__link {
  padding: 10px;
  height: 100%;
  width: 100%;

  flex: 1;
  display: flex;

  overflow: hidden;
  border-radius: 2px;
  transition: all var(--transition);
  background: var(--lightBlue);
  border: 1px solid var(--white);
}

.hover-cards__link:hover {
  flex: 4;

  .hover-cards__title {
    transform: rotate(0);
  }
}

.hover-cards__card {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  transition: all var(--transition) ease;
}

.hover-cards__title {
  transform: rotate(-90deg);
  transition: transform var(--transition);
}
