---
import Container from "../../ui/Container/Container.astro";
import FlexWrapper from "../../ui/FlexWrapper/FlexWrapper.astro";
import BurgerButton from "../../ui/BurgerButton/BurgerButton.astro";
import logo from "../../assets/logo.png";
import "./Header.css";
---

<header class="header">
  <Container style="padding-block: 0;">
    <FlexWrapper style="justify-content: space-between;">
      <a href="#" class="header__logo logo">
        <img class="logo__image" src={logo.src} alt="Well Church Logo" />
      </a>
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item">
            <a href="/about" class="header__link">About</a>
          </li>
          <li class="header__item">
            <a href="/ministries" class="header__link">Ministries</a>
          </li>
          <li class="header__item">
            <a href="/events" class="header__link">Events</a>
          </li>
          <li class="header__item">
            <a href="/services" class="header__link">Services</a>
          </li>
        </ul>
      </nav>
      <BurgerButton />
    </FlexWrapper>
  </Container>
</header>
