.social-media {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.social-media__up,
.social-media__down {
  display: flex;
  gap: 0.5rem;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 180px;

  border: none;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 10px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 3px -1px;
  transition: var(--transition) ease;
}

.social-media__link_top-left {
  border-radius: 180px 5px 5px 5px;

  svg {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: var(--instagramColor);
  }
}

.social-media__link_top-left:hover {
  background-color: var(--instagramColor);
  svg {
    fill: var(--white);
  }
}

.social-media__link_top-right {
  border-radius: 5px 180px 5px 5px;

  svg {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: var(--facebookColor);
  }
}

.social-media__link_top-right:hover {
  background-color: var(--facebookColor);
  svg {
    fill: var(--white);
  }
}

.social-media__link_down-right {
  border-radius: 5px 5px 180px 5px;

  svg {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: var(--youtubeColor);
  }
}

.social-media__link_down-right:hover {
  background-color: var(--youtubeColor);
  svg {
    fill: var(--white);
  }
}

.social-media__link_down-left {
  border-radius: 5px 5px 5px 180px;

  svg {
    margin-top: -0.6em;
    margin-left: 1.2em;
    fill: var(--gmailColor);
  }
}

.social-media__link_down-left:hover {
  background-color: var(--gmailColor);
  svg {
    fill: var(--white);
  }
}

.social-media__link svg {
  width: 30%;
  height: 30%;
}
