---
import "./Section.css";

type Props = {
  className?: string;
  style?: astroHTML.JSX.CSSProperties | string;
};

const { style, className } = Astro.props;
---

<section style={style} class=`section ${className}`>
  <slot />
</section>
