.upcoming-events__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.upcoming-events__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.upcoming-events__cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
