---
import Image from "astro/components/Image.astro";
import Container from "../../ui/Container/Container.astro";
import Section from "../../ui/Section/Section.astro";
import Title from "../../ui/Title/Title.astro";
import Subtitle from "../../ui/Subtitle/Subtitle.astro";
import ContentDecoration from "../../ui/ContentDecorations/ContentDecoration.astro";

import "./HeroSection.css";

import image from "../../assets/image-1.jpg";
import Description from "../../ui/Description/Description.astro";
---

<Section className="hero">
  <Container>
    <div class="hero__wrapper">
      <div class="hero__text-wrapper">
        <Subtitle>Вітаємо!</Subtitle>
        <Title tag="h1">Ласкаво просимо до церкви "Джерело"</Title>
        <div class="hero__text">
          <Description className="hero__description">
            "Коли бідні та вбогі шукатимуть воду, і її не буде, — коли їхній
            язик сохнутиме від спраги, Я, Господь, почую їх; Я, Бог Ізраїлю, не
            залишу їх.
          </Description>
          <Description className="hero__description">
            Я відкрию на хребтах гір ріки і посеред рівнин — джерела; Я
            перетворю пустелю на озерний край, а суху землю на джерела вод."
          </Description>
          <Description className="hero__text-footer">Ісаї 41:17-18</Description>
        </div>
      </div>
      <ContentDecoration className="hero__image-wrapper">
        <Image class="hero__image" src={image} alt="" />
      </ContentDecoration>
    </div>
  </Container>
</Section>
