.contact-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-list__link:hover {
  .contact-list__svg-wrapper {
    background-color: var(--white);
    border: 1px solid var(--blue);

    svg {
      fill: var(--blue);
    }
  }

  .contact-list__text {
    scale: 1.1;
  }
}

.contact-list__svg-wrapper {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  border: 1px solid transparent;
  background-color: var(--blue);
  transition: var(--transition) ease;

  svg {
    width: 40%;
    height: 40%;
    fill: var(--white);
  }
}

.contact-list__text {
  font-size: 22px;
  transition: var(--transition) ease;
}
