---
import "./Iframe.css";
---

<div class="iframe-wrapper">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5375.435474184692!2d30.442010457766948!3d50.51803107633544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d29a51b131b7%3A0x3f051be339723641!2z0KbQtdGA0LrQstCwINCg0ZbQt9C00LLQsCDQpdGA0LjRgdGC0L7QstC-0LPQviDQhNCl0JE!5e0!3m2!1suk!2sua!4v1740173174440!5m2!1suk!2sua"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
